/* You can add global styles to this file, and also import other style files */

$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark: #512DA8;
$primary-color: #673AB7;
$primary-color-light: #D1C4E9;
$primary-color-text: #FFFFFF;
$accent-color: #FFC107;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

background-primary {
  background-color: $background-dark!important;
}

.background-accent {
  background-color: $accent-color!important;
}

.text-floral-white {
  color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}
.backgroundGeneral { 
    background-color: #512DA8;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.row::after {
  width:100%;
  content: "";
  clear: both;
  display: table;
}